{% extends 'blog/base.html' %}
{% load static %}
{% load custom_markdown %}

{% block body_block %}

{% if post_list %}
    <header class="intro-header" style="background-image: url({{post_list.0.pic.url}})">
{% else %}
    <header class="intro-header" style="background-image: url('/static/images/intro.jpg')">
{% endif%}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <div class="grey">
                        <h2>{{quote.author}}</h2>
                        <hr class="small">
                        <span class="subheading">{{quote.text}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% if post_list %}
                    {% for post in post_list %}
                        <div class="post-preview">
                            <a href="/blog/post/{{post.pk}}">
                                <h2>
                                    {{post.title}}
                                </h2>
                            </a>
                            <p class="post-meta">
                                Posted on {{post.date|date:"M d, Y"}}
                            </p>
                        </div>
                        <div class="post-text">
                            {{ post.text|custom_markdown }}
                        </div>
                    {% endfor %}
                {% else %}
                    <h4> There are no posts in this page, but you have found the answer to the Ultimate Question of Life, the Universe, and Everything </h4>
                    <p> 42 </p>
                {% endif %}
            <hr>
            <!-- Pager -->
            <ul class="pager">
                {% if previous_present %}
                    <li class="previous">
                        <a href="/blog/{{previous}}">&larr; Previous Page </a>
                    </li>
                {% endif %}
               {% if next_present %}
                <li class="next">
                    <a href="/blog/{{next}}">Next Page &rarr;</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<hr>
{% endblock %}