{% extends 'blog/base.html' %}
{% load static %}
{% block body_block %}

<header class="intro-header" style="background-image: url({{post_list.0.pic.url}})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>{{quote.author}}</h2>
                    <hr class="small">
                    <span class="subheading">{{quote.text}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% if post_list %}
                {% for post in post_list %}
                    <div class="post-preview">
                        <a href="/blog/post/{{post.pk}}">
                            <h2 class="post-title">
                                {{post.title}}
                            </h2>
                        </a>
                        <p class="post-meta">Posted by <a href="#"> Luis Parra</a> at {{post.date}}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h2 class="post-title"> Sadly, there are no posts yet.</h2>
                <h3 class="post-subtitle"> Check again soon... </h3>
            {% endif %}
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
{% endblock %}