{% extends 'blog/base.html' %}
    {% load static %}
    {% load custom_markdown %}
    {% block body_block %}

    <header class="intro-header" style="background-image: url({{post.pic.url}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>{{quote.author}}</h2>
                        <hr class="small">
                        <span class="subheading">{{quote.text}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   {{ post.text|custom_markdown }}
                   {% if post_comments %}
                   
                   {% else %}
                      <p> Be the first to comment! </p>
                   {% endif %}
                </div>
            </div>
        </div>
    </article>
    <hr>
    {% endblock %}