<!DOCTYPE HTML>

{% load static %}

<html>

{% block title %} 
	<head>
		<title>Robotics, Computer Vision and a some  Web Development</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Personal site for job search" />
		<meta name="keywords" content="portafolio, cv, jobs" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/static/js/jquery.poptrox.min.js"></script>
		<script src="/static/js/jquery.scrolly.min.js"></script>
		<script src="/static/js/jquery.scrollgress.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		{% block script_block %}		{% endblock %}
		<script src="/static/js/init.js"></script>
		{% block css_block %}
			<noscript>
				<link rel="stylesheet" href="/static/css/skel.css" />
				<link rel="stylesheet" href="/static/css/style.css"/>
				<link rel="stylesheet" href="/static/css/style-wide.css">
				<link rel="stylesheet" href="/static/css/style-normal.css" />
			</noscript>
		{% endblock %}
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>

<!-- Header -->
<header id="header">

<!-- Logo -->
<h1 id="logo">Luis Parra</h1>

<!-- Nav -->
<nav id="nav">
	<ul>
		{% block navbar %}
		<li><a href="#intro"> Intro </a></li>
		<li><a href= "#one">  What I do </a></li>
		<li><a href= "#two">  Who I am </a></li>
		<li><a href= "#work">  My Work </a></li>
		{% endblock %}
		<li><a href="/blog">Blog</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
</nav>

</header>

{% endblock %}
    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>
	{% block footer %} 
		<!-- Footer -->
		<footer id="footer">
		<!-- Icons -->
			<ul class="actions">
				<li><a href="https://www.facebook.com/luis.e.valles.71" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.linkedin.com/in/luisenriqueparravalles/en" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
			</ul>
		<!-- Menu -->
			<ul class="menu">
				<li><a href=roadmap/> Roadmap </li>
				<li><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"></li>
			</ul>		
		</footer>
	{% endblock %}
	</body>
</html>